<form {{action "save" on="submit"}}>
	<h2 style="color:red">{{errorMessage}}</h2>

	<table>
		<tbody>

			<tr>
				<td>First Name:</td>
				<td>{{input value=model.firstName}}</td>
			</tr>

			<tr>
				<td>Last Name:</td>
				<td>{{input value=model.lastName}}</td>
			</tr>

			<tr>
				<td>Email:</td>
				<td>{{input value=model.email}}</td>
			</tr>

			<tr>
				<td>Twitter:</td>
				<td>{{input value=model.twitter}}</td>
			</tr>
			
			<tr>
				{{input type="checkbox" name=trusted}}Trusted
			</tr>	
		</tbody>
	</table>

	<br /><b>Preview:</b><br />
	<b>Name:</b> {{model.firstName}} {{model.lastName}}<br />
	<b>Email:</b> {{model.email}}<br />
	<b>Twitter:</b> {{model.twitter}}<br /><br />

	<input type="submit" value="Save" />
	<button {{action "cancel"}}>Back</button>
	<button {{action "delete" model}}>Delete</button>
</form>



