<h1>Friend Details</h1>
<table>
	<tr>First Name:
		<td>{{model.firstName}}</td>
	</tr>

	<tr>Last Name:
		<td>{{model.lastName}}</td>
	</tr>

	<tr>Email:
		<td>{{model.email}}</td>
	</tr>

	<tr>Twitter:
		<td>{{model.twitter}}</td>
	</tr>
</table>
<button>{{link-to "Edit" "friends.edit" model}}</button>
<button {{action "goback"}}>Back</button>